{% block content %}
    <div class="header-title">
    <svg>
      {% include "_components/svg/fractal-filter.html" %}
      <ellipse cx="70" cy="0" rx="220" ry="200" filter="url(#fractalFilter)" fill="url(#fractalGradient)">
    </svg>
    <h2 class="montserrat header-title-text">white ash flies</h2>
  </div>
{% endblock %}
