{% extends "_base" %}
{% block content %}
  <div class="radio">
    <div class="radio-coming-soon">
      <p class="montserrat is-size-1">WAF Radio</p>
      <p class="montserrat is-size-1 pr-6">coming</p>
      <p class="montserrat is-size-1 pr-6">soon</p>
      <p><a class="link">Please click this text to browse the library.</a></p>
    </div>
  </div>
{% endblock %}
